body {
  margin: 0;
}

img {
  width: 100%;
  display: inline-block;
}

.lol {
  width: 500px;
  height: 500px;
  object-fit: contain; /*cover visa plota*/
  border: solid !important; /*over writina kitus pasikartuojanÄius elementus*/
  border-radius: 10px;
  border-color: black;
  display: inline-block;
}

.no-space {
  font-size: 0; /*panaikina tarpa nuotrauku ar elemento*/
}
