.fields {
  display: flex;
  height: 100vh;
  background-color: darkolivegreen;
  width: 80%;

  .field {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    padding-top: 200px;
    box-sizing: border-box;
    gap: 10px;

    &.first {
      border-right: 3px dashed darkgreen;
    }

    .sheep,
    .cow {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: monospace;
      font-size: 12px;
      border: 1px solid white;
    }

    .sheep {
      border-radius: 50%;
    }
  }
  .buttons {
    position: absolute;
    top: 0;
    height: 100px;
  }
}
