.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.flex div {
  padding: 200px;
  font-size: 100px;
  color: blue;
}

body {
  margin: 0;
  box-sizing: border-box;
}
