body {
    color: aqua;
    font-size: 50px;
    border:5px;
    border-color: green;
    border-style: solid;
}

.bandom {
    color:blue;
    border:5px;
    border-color: black;
    border-style: solid;

.box {
    display: flex;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border:6px;
    border-color:red;
    border-style: solid;
    /*flex-direction: row;
    flex-wrap:wrap-reverse;
    justify-content: flex-start;*/
}

.tekstas {
    

    border:5px;
    border-color: black;
    border-style: solid;
    font-size: 30px;
    
}