html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* prasideda kodas */

/*!!! nekeisti pradzia*/

.smalltx {
  font-size: 0.875rem;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
}

.txt {
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.english,
.set-region,
.fa-bars,
.morchevron {
  transition: all 0.2s;
}

.set-region:hover,
.english:hover,
.fa-bars:hover {
  cursor: pointer;
  padding-bottom: 4px;
}

.test {
  border: 1px solid white;
}

.flex {
  display: flex;
}

/* body {
  display: flex;
  flex-direction: column;
} */

/*!!! nekeisti pabaiga*/

/*------------- header pirmas blokas */

header {
  display: flex;
  flex-direction: column;
}

/*------------- header blokas pabaiga*/

/*golden bar blokas*/

.golden {
  background-color: #937c41;
  height: 50px;
  display: flex;
  justify-content: center; /*sitas elementu per ploti*/
  align-items: center; /*per aukštį*/
}

.golden-text,
.golden-container {
  width: 50%;
  height: 100%;
  display: flex;
}

.golden-text {
  justify-content: right;
}

.social {
  display: flex;
  align-items: center;
  color: #c2d5f9;
  font-size: 0.875rem;
  padding-left: 40px;
}

.set-language {
  color: #c2d5f9;
}

.chfix {
  padding-top: 2px;
}

.cad {
  color: #c2d5f9;
  margin-left: 20px;
}

.social a {
  color: #c2d5f9;
  margin-right: 20px;
  transition: all 0.2s;
  font-size: 15px;
}

.social a:hover {
  margin-bottom: 4px;
}

.languages {
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}

.padtop {
  margin-top: 2px;
  padding-left: 5px;
}

/*golden bar blokas end*/

/*--------------blue bar kodai*/

.blue {
  display: flex;
  background-color: #0b4fd4;
  height: 50px;
  justify-content: center; /*sitas per ploti*/
  align-items: center; /*per aukštį*/
  position: relative;
}

.canada,
.fa-chevron-down,
.more {
  color: #c2d5f9;
  font-size: 0.875rem;
}

.more {
  text-align: left;
  font-weight: 700;
}

.canada {
  text-align: right;
  font-weight: 700;
  width: 55%;
}

#morchevron-conteiner {
  width: 45%;
}

.morchevron {
  display: flex;
  border-color: #c2d5f9;
  border: #c2d5f9 solid 1px;
  margin-left: 40px;
  width: 70px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: relative; /* kad matytusi reikia nuimti*/
  transition: all s;
}

.morchevron:hover {
  margin-bottom: 3px;
  /* ? kaip padaryt kad border nejudetu su hoveriu ? */
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 9px;
  margin-left: 5px;
}

/*--------------blue bar tekstas end*/

/*--------------slider bar kodai*/

.fa-bars {
  transition: all 0.2s;
  color: white;
  font-size: 20px;
}

.slider-bar {
  height: 101px;

  transition: background-color 0.2s ease-in-out;
}

header {
  background: none;
  /* background-color: rgba(255, 255, 255, 0); */
  position: sticky;
  top: -1px;
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
}

/*header scroll */

header.scrolled {
  background-color: white;
}

header.scrolled .search i,
header.scrolled .fa-bars {
  color: black;
}

.slider-bar:hover {
  background-color: white;
  opacity: 0.98;
}

.slider-bar:hover .search i,
.slider-bar:hover .fa-bars {
  color: black;
}

.upscale,
.search,
.container-menu {
  width: 33.33%;
}

.upscale {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upscale i {
  height: 20px;
  width: 60px;
}

.search {
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}

.search i {
  margin-left: 25px;
  margin-right: 0px;
  color: white;
  transition: all 0.2s;
  font-size: 20px;
}

.search .fa-regular:hover,
.search .fa-solid:hover {
  cursor: pointer;
  margin-bottom: 4px;
}

.container-menu {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

/*------------slider bar end*/

/* --------------prasideda banner video*/

.banner {
  position: relative;
  bottom: 101px;
  margin-bottom: 100px;
  overflow: hidden;
}

.video {
  width: auto;
  /* overflow: hidden; */
  position: relative;
}

iframe {
  z-index: -1;
  position: absolute;
  scale: 1.2;
  filter: brightness(0.8);
  width: 100%;
  margin: 0;
  padding: 0;
}

.vid,
.bannertext {
  height: 800px;
}

.bannertext {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.bannertext div {
  margin-bottom: 40px;
}

.shop-box {
  color: white;
  width: 160px;
  height: 40px;
  border: white 1px solid;
  transition: all 0.2s;
  /* background-color: transparent; */
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.shop-container {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.shop-box:hover {
  cursor: pointer;
  margin-bottom: 4px;
}

.main-text {
  /* font-size: 100px; */
  font-size: 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* -----------banner video pabaiga*/

/* -----------content brands pradžia*/

.brands {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 120px;
  margin-top: 20px;
}

.brands img {
  height: 30%;
  width: 20%;
  object-fit: contain;
  justify-content: center;
}

.antras {
  scale: 0.8;
}

content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  bottom: 20px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 170px;
  font-size: 0.875rem;
  font-weight: lighter;
  letter-spacing: 2px;
}

/*------ brands pradzia */

.sell-container {
  display: flex;
  color: rgb(35, 34, 31);
}

.view,
.fa-arrow-right-long {
  letter-spacing: 1px;
  font-weight: 100;
  transition: all 0.2s;
  position: relative;
  font-size: 15px;
}

.view {
  right: 20px;
}

.fa-arrow-right-long {
  right: 10px;
  top: 2px;
}

.viewall:hover .fa-arrow-right-long {
  right: 5px;
  top: 1px;
}

.viewall {
  display: flex;
  transition: all 0.2s;
  position: relative;
}

.viewall:hover {
  margin-bottom: 4px;
  cursor: pointer;
}

.viewall-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .fa-arrow-right-long {
  font-size: 15px;
} */

.best,
.viewall-container {
  width: 50%;
}

.best {
  font-size: 3rem;
  /* font-size: 40px; */
  letter-spacing: -1px;
  color: rgb(35, 34, 31);
}

/*------ drones pradzia brands pabaiga*/

.drones {
  background-color: white;
  width: 100%;
}

.block {
  width: 33%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
}

.badge-full {
  width: 100%;
  height: 48px;
}

.badge {
  color: white;
  width: fit-content;
  padding: 2px 8px;
  font-weight: 100;
  margin-bottom: 4px;
  font-size: small;
  background-color: #937c41;
}

.badge-blue {
  background-color: #0b4fd4;
}

.drone-1 .badge {
  background-color: rgb(35, 34, 31);
  font-size: small;
}

.drone-container-up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*sitas elementu per ploti*/
  align-items: center; /*per aukštį*/
  margin-top: 5px;
  transition: all 0.2s;
  position: relative;
  /* min-height: auto;
  max-height: 500px; */
  height: 100%;
  /* min-height: 500px; */
}

.block img {
  /* min-height: 180px;
  max-height: 320px; */
  width: 100%;
}

.block a {
  position: relative;
}

.block .quickview {
  background-color: rgb(35, 34, 31);
  border: 0;
  z-index: -1;
  margin: 0;
  padding: 0.5em 1em;
  width: fit-content;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 0px;
}

.block:hover .quickview {
  z-index: 0;
}

.block:hover .drone-container-up {
  margin-top: 0px;
}

.block:hover .drone-name {
  text-decoration: underline;
}

.drone-info {
  position: absolute;
  bottom: 0;
  left: 0px;
  color: rgb(35, 34, 31);
}

.drone-name {
  font-weight: 500;
  letter-spacing: 1px;
}

.drone-info div {
  margin-bottom: 5px;
}

.drone-price {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.deletedtx {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(83, 79, 79);
}

.stars {
  color: rgb(35, 34, 31);
  font-size: 7.5px;
}

.empty {
  color: rgba(127, 122, 122, 0.758);
}

/* drones slider pradzia*/

.drones-slider {
  max-height: 100px;
  display: flex;
  width: 100%;
  position: relative;
}

.toggle div {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: solid rgba(127, 122, 122, 0.758) 1px;
}

.toggle:hover {
  cursor: pointer;
}

.toggle div:first-child {
  margin-right: -4px;
  border-right: 0px;
}

.ok i,
.ok2 i {
  transform: translate(15px, 10px);
  transition: all 0.2s;
  font-size: 10px;
}

.ok:hover i {
  transform: translate(11px, 10px);
}

.ok2:hover i {
  transform: translate(19px, 10px);
}

.arrow-container {
  width: 25%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.bubles {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-shufle {
  background-color: rgb(35, 34, 31);
  padding: 1.5px;
  margin: 3px;
  border-radius: 50%;
}

.bubles div:first-child {
  scale: 1.8;
}

/* drones pabaiga*/
/* learn banner pradzia drone pabaiga*/

.learn-banner {
  height: 180px;
  border-radius: 20px;
  display: flex;
  text-decoration: none;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}

.learn {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 50%;
  overflow: hidden;
}

.learn div {
  display: inline-block;
}

.golden-learn {
  background-color: #937c41;
  width: 50%;
  align-items: baseline;
  align-content: center;
}

.golden-learn div {
  align-self: center;
}

.smalllearn {
  font-size: 27px;
  padding: 0;
  margin-left: 12px;
  letter-spacing: 0px;
}

.upperlearn {
  font-weight: normal;
  margin-right: 12px;
  letter-spacing: 2px;
}

.learn-img {
  flex-direction: column;
  width: 100%;
}

.learn-img img {
  background-image: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* .stars::before {
  content: "\2605\2605\2605\2605\2605";

  color: linear-gradient(
    90deg,
    var(currentColor)
      var(
        calc(4 / 5 * 100%-1.5px),
        var(rgba(35, 34, 31, 0.2) var(cal(4/5 * 100%-1.5px)))
      )
  );
} */

/* drones learn pabaiga*/

/*drone groups pradzia*/

.groups-container {
  margin-top: 180px;
}

.groups-switch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.drone-groups {
  width: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: baseline;
  border-bottom: 1px solid;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(35, 34, 31);
  height: 100%;
  position: relative;
}

.drone-groups li {
  padding: 0px 0 15px 0;
  display: inline-block;
  margin-left: 35px;
  position: relative;
  transition: all 0.2s;
  align-self: flex-end;
  border-bottom: 4px solid;
  border-color: white;
}

.drone-groups li:first-child {
  margin-left: 0px;
}

.drone-groups li:active {
  cursor: pointer;
  bottom: 0px;
  padding-bottom: 17px;
  color: rgb(83, 79, 79);
  border-color: rgb(35, 34, 31);
}

.drone-groups li:visited {
  cursor: pointer;
  bottom: 0px;
  padding-bottom: 17px;
  color: rgb(83, 79, 79);
  border-color: rgb(35, 34, 31);
}

.drone-groups li:hover {
  cursor: pointer;
  bottom: 0px;
  padding-bottom: 17px;
  color: rgb(83, 79, 79);
}

.drone-groups li:first-child {
  margin-left: 0px;
  border-color: rgb(35, 34, 31);
}

.groups-switch + div {
  margin-top: 50px;
  height: 550px;
}

.long-range-vid,
.shop-long-container {
  width: 50%;
}

.shop-long-container {
  color: white;
  background-color: rgb(35, 34, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.long-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 95%;
}

.shop-long-container div {
  margin: 20px;
}

.shop-long-container div:first-child {
  margin-bottom: 30px;
}

.shop-long-container div:last-child {
  margin-top: 30px;
}

.first {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

.second {
  font-size: 40px;
  letter-spacing: 0px;
  margin-top: 10px;
}

.third {
  font-size: 22px;
  font-weight: 300;
}

.fourth {
  background-color: white;
  color: black;
  font-weight: 300;
  padding: 13px;
  width: fit-content;
}

.fourth:hover {
  cursor: pointer;
}

.long-range-vid {
  background-image: cover;
  height: 100%;
  position: relative;
}

.long-range-pic {
  z-index: -1;
  position: absolute;
}

.long-range-pic img {
  background-image: cover;
  object-fit: cover;
  height: 550px;
  width: 104%;
}

.pop-up-long {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  z-index: 0;
  bottom: 40px;
  left: 40px;
  border-radius: 100%;
  box-sizing: border-box;
}

.fa-play {
  transform: translate(25px, 20px);
}

.pop-up-long:hover {
  cursor: pointer;
}
/*drone groups pabaiga*/
/* blog pradzia*/

#blog {
  margin-top: 180px;
  margin-bottom: 50px;
  position: relative;
}

#blog > div {
  width: 25%;
}

#blog div:nth-child(2) {
  width: 50%;
  text-align: center;
}

.blog-container {
  justify-content: space-between;
  gap: 10px;
  height: 600px;
}

.blog-container + div {
  display: none;
}

.duk {
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 100%;
  /* background-image: cover;
  object-fit: cover; */
}

.duktxt {
  margin: 20px 20px 0px 20px;
  color: rgb(35, 34, 31);
  height: 100%;
  position: relative;
}

.duktxt h1 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1.6875rem;
}
.duktxt p {
  font-weight: 300;
  font-size: 1.3rem;
}

.writer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  height: 50px;
}

.write img {
  /* display: block; */
  max-width: 100%;
}

.writer-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  margin-left: 10px;
  font-weight: 200;
}

.date {
  color: rgb(83, 79, 79);
  font-size: small;
}

/*blog pabaiga*/
/*about pradzia*/

.about {
  margin-top: 150px;
}

.about > div {
  width: 50%;
}

.aboutconteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(35, 34, 31);
}

.radiusimages {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
}

.radiusimages img {
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  object-fit: cover;
}

.radiusimages img:nth-child(1) {
  width: 40%;
  height: 40%;
}

.radiusimages img:nth-child(2) {
  width: 57%;
  height: 60%;
  box-sizing: border-box;
}

.radiusimages img:nth-child(3) {
  display: block;
  width: 70%;
  height: 70%;
}

.established {
  color: #0b4fd4;
  font-weight: 100;
  font-size: medium;
  letter-spacing: 2px;
}

.aboutconteiner > div {
  margin-top: 40px;
}

.aboutconteiner h1 {
  font-size: 6em;
  letter-spacing: -5px;
  margin-top: 40px;
}

.aboutext {
  font-size: 1.95rem;
  font-weight: 500;
  line-height: 1.3;
}

.aboutbutton {
  color: white;
  background-color: #0b4fd4;
  width: fit-content;
  padding: 0.5em 1em;
  font-weight: 300;
}

.aboutbutton:hover {
  cursor: pointer;
}

/*about pabaiga*/
/*reviews pradzia*/
.reviews-main {
  display: flex;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
  width: 100%;
  justify-content: space-between;
  color: rgb(35, 34, 31);
  height: 280px;
}

.reviews-main > div {
  width: 30%;
}

.review-container {
  position: relative;
}

.review-container span {
  color: #0b4fd4;
  font-size: 6em;
  box-sizing: content-box;
  position: absolute;
  transform: translate(-50%, -50%);
}

.review-container h1 {
  font-size: 1.95rem;
  font-weight: 500;
  line-height: 1.3;
}

.reviewtxt {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-top: 20px;

  width: 100%;
}

.reviewname {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  font-weight: 100;
}
/*reviews pabaiga*/
/*banner pradzia*/

content + div {
  /* position: relative; */
  height: 450px;
  width: 100%;
  margin-bottom: 0px;
}

#botban {
  position: relative;
  bottom: 0px;
  margin: 0;
  margin-top: 100px;
}

.bannerimg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */

  /* transform: translate3d(0px, -18px, 0px) scale(1.7); */
  /* transition: opacity calc(0.15s * var(1)) cubic-bezier(0.5, 0, 0.175, 1) */
  /* will-change: transform; */
  /* object-fit: contain; */
  /* transition: cubic-bezier(0.5, 0, 0.175, 1); */
}

.bannerimg img {
  /* transform: translate3d(0px, -18px, 0px) scale(1.7);
  transition: opacity calc(0.15s * var(1)) cubic-bezier(0.5, 0, 0.175, 1);
  will-change: transform; */
  background: cover;
  object-fit: cover;
  width: 100%;
  z-index: -10;
  overflow: hidden;
  height: 100%;
}

#botbannertxt {
  height: auto;
  height: 100%;
}

/* .bannerimg img {
  transform: translate3d(0px, -18px, 0px) scale(1.7);
}

[parallax="true"] > img {
  transition: opacity calc(0.15s * var(1)) cubic-bezier(0.5, 0, 0.175, 1);
} */

/*footer pradzia*/

footer {
  background-color: rgb(35, 34, 31);
  height: 400px;
  color: white;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 0;
}

.footcontainer {
  height: 60%;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;
}

#topcontainer {
  height: 85%;
  margin: 0px 40px 0 40px;
  position: relative;
  bottom: -40px;
  display: flex;
  justify-content: space-between;
}

.followus {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#topcontainer > div:nth-child(1),
#topcontainer > div:nth-child(4) {
  width: 25%;
}

.top {
  font-size: 1.125rem;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.foottxt,
.top li,
.top a {
  font-size: 0.9rem;
}

.about-where {
  width: 30%;
  margin-right: 10px;
}

#botsocial {
  color: white;
  /* align-items: flex-start; */
  height: 40px;
  padding-left: 0px;
}

#botsocial a {
  color: white;
}

.foottxt {
  line-height: 1.3;
}

.links {
  list-style: none;
  width: 20%;
}

.links li {
  margin-bottom: 10px;
  text-decoration: none;

  text-decoration-thickness: 1px;
  transition: all 1s;
}

.links li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.clickhere {
  color: white;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.inputBox {
  position: relative;
}

input {
  background-color: rgb(35, 34, 31);
  color: white;
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  height: 60px;
  line-height: 0;
  box-shadow: none;
  padding-left: 10px;
  padding-bottom: 0px;
  box-sizing: border-box;
  border-radius: none;
  outline: none;
  font-size: 0.9rem;
  padding: 30px 10px 0;
}

input:focus {
  background-color: rgba(78, 77, 73, 0.282);
}

.inputBox label {
  position: absolute;
  left: 15px;
  top: 45px;
  transition: 0.2s;
  pointer-events: none;
}

.inputBox input:focus ~ label {
  top: 25px;
  font-size: 0.7rem;
  left: 10px;
}

.inputBox input:focus {
  border-bottom: 4px solid white;
}

[type="submit"] {
  position: absolute;
  top: 45px;
  font-weight: 100;
  font-size: large;
}

[type="submit"]:hover {
  cursor: pointer;
}

#bot-container {
  height: 35%;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;
}

.botcontainer {
  display: flex;
  height: 100%;
  margin: 0px 40px 0px 40px;
}

.botcontainer > div {
  width: 50%;
}

.botcontainer div:last-child {
  justify-content: right;
  align-items: start;
}

#bot-container .set-language,
#bot-container .cad,
#bot-container .fa-chevron-down {
  color: white;
}

.set-language,
.cad {
  font-weight: 300;
}

#bot-container .languages {
  padding-right: 0;
}

#bot-container .english,
#bot-container .set-region {
  position: relative;
  top: 2px;
  transition: all 0.2s;
}

#bot-container .english:hover,
#bot-container .set-region:hover {
  top: 0px;
  transition: all 0.4s;
}

.cards {
  list-style: none;
}

.cards li {
  margin-right: 5px;
}

.onyx,
.onyx a {
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.onyx {
  margin-top: 10px;
}

.onyx a {
  margin: 0 1px 0 1px;
}

/* responsive */

@media screen and (max-width: 990px) {
  .canada {
    padding-left: 70px;
    text-align: left;
  }
  #morchevron-conteiner {
    display: flex;
    justify-content: right;
  }
  .brand-text,
  .brands {
    height: 100px;
  }
  .morchevron {
    margin-right: 50px;
  }
  .vid,
  .bannertext {
    height: 700px;
  }

  content {
    bottom: 60px;
  }
  .main-text {
    font-size: 4em;
  }

  .block {
    height: 350px;
  }

  .shop-long-container div {
    margin: 10px;
  }

  .blog-container {
    height: 700px;
  }

  .blog-container + div {
    display: flex;
    margin-top: 50px;
  }

  .blog-container > div:nth-child(3) {
    display: none;
  }

  .duk {
    width: 50%;
  }

  .review-container {
    display: none;
  }

  .reviews-main div:first-child {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 748px) {
  content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .golden {
    display: none;
  }

  .more {
    display: none;
  }
  .morchevron {
    width: 30px;
    height: 30px;
  }

  .fa-chevron-down {
    padding-top: 0px;
    margin-left: 0px;
  }

  .fa-envelope {
    display: none; /* kodel neveikia iconai? */
  }

  .search .fa-regular {
    display: none;
  }

  content {
    margin-top: 0;
  }

  .brands {
    margin-top: 0px;
  }
}

@media screen and (max-width: 748px) {
  .vid {
    height: 500px;
  }
  .bannertext {
    height: 400px;
  }

  .best {
    font-size: 2em;
  }

  .main-text {
    font-size: 3em;
  }

  .antras {
    scale: none;
  }

  .best {
    font-size: 2em;
  }

  .drone-3 {
    display: none;
  }

  .block {
    width: 50%;
  }

  .arrow-container {
    display: none;
    width: 0%;
  }

  .bubles {
    width: 100%;
  }

  .learn-banner {
    flex-direction: column;
    height: 400px;
  }

  .learn-banner > div {
    width: 100%;
    max-width: 100%;
  }
  .groups-container {
    margin-top: 70px;
  }
  .golden-learn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .smalllearn {
    height: auto;
    font-size: 24px;
  }
  .golden-learn div {
    margin: 0;
    width: auto;
    margin-bottom: 10px;
    text-align: center;
  }

  .groups-switch + div {
    height: 900px;
  }
  .drone-groups {
    flex-wrap: wrap;
  }

  .long-range-vid {
    height: 100%;
  }

  .long-range-pic {
    height: 100%;
    width: 100%;
  }

  .long-range-pic img {
    min-height: 100%;
    height: 100%;
    width: 100%;
  }

  #blog {
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #blog > div {
    margin-bottom: 20px;
  }

  .duktxt h1 {
    font-size: 1.375rem;
  }

  /*scroll bar overflow
  .blog-container {
    flex-direction: row;
    display: inline-flex;
    width: 900px;
    height: 500px;
  } */

  .blog-container {
    width: auto;
    display: block;
  }

  .blog-container > div:nth-child(2) {
    display: none;
  }

  .duk {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }

  .about > div {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .aboutconteiner {
    align-items: center;
    justify-items: center;
  }

  .aboutconteiner h1 {
    text-align: center;
    font-size: 4em;
  }

  .aboutext {
    font-size: 1.5rem;
  }

  .reviews-main {
    margin-top: 100px;
  }

  footer {
    height: 100%;
  }

  #topcontainer {
    flex-direction: column;
    height: 100%;
    margin: 0px 20px 20px 20px;
    gap: 40px;
    bottom: 0;
    margin-bottom: 0;
    padding-top: 40px;
  }

  #topcontainer > div {
    width: 100%;
  }

  #topcontainer > div:nth-child(4) {
    width: 100%;
  }

  #bot-container {
    height: 200px;
    width: 100%;
  }

  .botcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 40px;
  }

  .botcontainer > div {
    width: 100%;
  }
  .paycards {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    order: 0;
    gap: 10px;
  }

  .cards,
  .onyx {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  #bot-container .languages {
    justify-content: center;
    order: -1;
  }
}
