html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* prasideda kodas */

/*!!! nekeisti pradzia*/

.smalltx {
  font-size: 0.875rem;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
}

.txt {
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.english,
.set-region,
.fa-bars,
.morchevron {
  transition: all 0.2s;
}

.set-region:hover,
.english:hover,
.fa-bars:hover {
  cursor: pointer;
  padding-bottom: 4px;
}

.test {
  border: 1px solid black;
}

.flex {
  display: flex;
}

/* body {
  display: flex;
  flex-direction: column;
} */

/*!!! nekeisti pabaiga*/

/*------------- header pirmas blokas */

header {
  display: flex;
  flex-direction: column;
}

/*------------- header blokas pabaiga*/

/*golden bar blokas*/

.golden {
  background-color: #937c41;
  height: 50px;
  display: flex;
  justify-content: center; /*sitas elementu per ploti*/
  align-items: center; /*per aukštį*/
}

.golden-text,
.golden-container {
  width: 50%;
  height: 100%;
  display: flex;
}

.golden-text {
  justify-content: right;
}

.social {
  display: flex;
  align-items: center;
  color: #c2d5f9;
  font-size: 0.875rem;
  padding-left: 40px;
}

.set-language {
  color: #c2d5f9;
}

.chfix {
  padding-top: 2px;
}

.cad {
  color: #c2d5f9;
  margin-left: 20px;
}

.social a {
  color: #c2d5f9;
  margin-right: 20px;
  transition: all 0.2s;
  font-size: 15px;
}

.social a:hover {
  margin-bottom: 4px;
}

.languages {
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}

.padtop {
  margin-top: 2px;
  padding-left: 5px;
}

/*golden bar blokas end*/

/*--------------blue bar kodai*/

.blue {
  display: flex;
  background-color: #0b4fd4;
  height: 50px;
  justify-content: center; /*sitas per ploti*/
  align-items: center; /*per aukštį*/
  position: relative;
}

.canada,
.fa-chevron-down,
.more {
  color: #c2d5f9;
  font-size: 0.875rem;
}

.more {
  text-align: left;
  font-weight: 700;
}

.canada {
  text-align: right;
  font-weight: 700;
  width: 55%;
}

#morchevron-conteiner {
  width: 45%;
}

.morchevron {
  display: flex;
  border-color: #c2d5f9;
  border: #c2d5f9 solid 1px;
  margin-left: 40px;
  width: 70px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: relative; /* kad matytusi reikia nuimti*/
  transition: all s;
}

.morchevron:hover {
  margin-bottom: 3px;
  /* ? kaip padaryt kad border nejudetu su hoveriu ? */
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 9px;
  margin-left: 5px;
}

/*--------------blue bar tekstas end*/

/*--------------slider bar kodai*/

.fa-bars {
  transition: all 0.2s;
  color: white;
  font-size: 20px;
}

.slider-bar {
  height: 101px;

  transition: background-color 0.2s ease-in-out;
}

header {
  background: none;
  /* background-color: rgba(255, 255, 255, 0); */
  position: sticky;
  top: -1px;
  transition: background-color 0.2s ease-in-out;
  z-index: 1;
}

/*header scroll */

header.scrolled {
  background-color: white;
}

header.scrolled .search i,
header.scrolled .fa-bars {
  color: black;
}

.slider-bar:hover {
  background-color: white;
  opacity: 0.98;
}

.slider-bar:hover .search i,
.slider-bar:hover .fa-bars {
  color: black;
}

.upscale,
.search,
.container-menu {
  width: 33.33%;
}

.upscale {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upscale i {
  height: 20px;
  width: 60px;
}

.search {
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}

.search i {
  margin-left: 25px;
  margin-right: 0px;
  color: white;
  transition: all 0.2s;
  font-size: 20px;
}

.search .fa-regular:hover,
.search .fa-solid:hover {
  cursor: pointer;
  margin-bottom: 4px;
}

.container-menu {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

/*------------slider bar end*/

/* --------------prasideda banner video*/

.banner {
  position: relative;
  bottom: 101px;
  overflow: hidden;
}

.video {
  width: auto;
  /* overflow: hidden; */
  position: relative;
}

iframe {
  z-index: -1;
  position: absolute;
  scale: 1.2;
  filter: brightness(0.8);
  width: 100%;
  margin: 0;
  padding: 0;
}

.vid,
.bannertext {
  height: 800px;
}

.bannertext {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.bannertext div {
  margin-bottom: 40px;
}

.shop-box {
  color: white;
  width: 160px;
  height: 40px;
  border: white 1px solid;
  transition: all 0.2s;
  /* background-color: transparent; */
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.shop-container {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.shop-box:hover {
  cursor: pointer;
  margin-bottom: 4px;
}

.main-text {
  /* font-size: 100px; */
  font-size: 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* -----------banner video pabaiga*/

/* -----------content brands pradžia*/

.brands {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 120px;
  margin-top: 20px;
}

.brands img {
  height: 30%;
  width: 20%;
  object-fit: contain;
  justify-content: center;
}

.antras {
  scale: 0.8;
}

content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  bottom: 20px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 170px;
  font-size: 0.875rem;
  font-weight: lighter;
  letter-spacing: 2px;
}

/*------ brands pradzia */

.sell-container {
  display: flex;
  color: rgb(35, 34, 31);
}

.view,
.fa-arrow-right-long {
  letter-spacing: 1px;
  font-weight: 100;
  transition: all 0.2s;
  position: relative;
  font-size: 15px;
}

.view {
  right: 20px;
}

.fa-arrow-right-long {
  right: 10px;
  top: 2px;
}

.viewall:hover .fa-arrow-right-long {
  right: 5px;
  top: 1px;
}

.viewall {
  display: flex;
  transition: all 0.2s;
  position: relative;
}

.viewall:hover {
  margin-bottom: 4px;
  cursor: pointer;
}

.viewall-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .fa-arrow-right-long {
  font-size: 15px;
} */

.best,
.viewall-container {
  width: 50%;
}

.best {
  font-size: 3rem;
  /* font-size: 40px; */
  letter-spacing: -1px;
  color: rgb(35, 34, 31);
}

/*------ drones pradzia brands pabaiga*/

.drones {
  background-color: #0b4fd4;
  width: 100%;
}

.block {
  width: 33%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.drone-container-up {
  display: flex;
  flex-direction: column;
}

.block img {
  height: 100%;
  width: 100%;
}

.block button {
  background-color: rgb(35, 34, 31);
  border: 0;
  display: none;
  margin: 0;
  padding: 0.5em 1em;
  /* width: fit-content; */
}

.block:hover button {
  display: block;
}

.block:hover .drone-name {
  text-decoration: underline;
}

/* responsive */
@media screen and (max-width: 748px) {
  .golden {
    display: none;
  }

  .more {
    display: none;
  }
  .morchevron {
    width: 30px;
    height: 30px;
  }

  .fa-chevron-down {
    padding-top: 0px;
    margin-left: 0px;
  }

  .fa-envelope {
    display: none; /* kodel neveikia iconai? */
  }

  .search .fa-regular {
    display: none;
  }

  content {
    margin-top: 0;
  }

  .brands {
    margin-top: 0px;
  }
}

@media screen and (max-width: 748px) {
  .vid {
    height: 500px;
  }
  .bannertext {
    height: 400px;
  }

  .best {
    font-size: 2em;
  }

  .main-text {
    font-size: 3em;
  }

  .antras {
    scale: none;
  }

  .best {
    font-size: 2em;
  }
}

@media screen and (max-width: 990px) {
  .canada {
    padding-left: 70px;
    text-align: left;
  }
  #morchevron-conteiner {
    display: flex;
    justify-content: right;
  }
  .brand-text,
  .brands {
    height: 100px;
  }
  .morchevron {
    margin-right: 50px;
  }
  .vid,
  .bannertext {
    height: 700px;
  }

  content {
    bottom: 60px;
  }
  .main-text {
    font-size: 4em;
  }
}
