justify-content: center; /*sitas elementu per ploti*/
align-items: center; /*per aukštį*/

.fa-chevron-down {
  color: #c2d5f9;
  font-size: 10px; /*iconos dydis*/
}

background-image: cover;
object-fit: cover; /*background image

object-fit: contain; /*įrėmina graziai paveikslėlį padaro per centra*/
width: fit-content; /*sutalpina iki deze iki maximum*/

.view,
.fa-solid {
  transition: all 0.2s;
  position: relative; /*position relative nusako nuo kurio elemento turėtu buti postion absolute*/
}

.view {
  right: 20px;
}

.fa-solid {
  right: 10px;
}

.viewall:hover .fa-solid {
  /*uzvedus pelę ant viewall icona fa solid paeis i desine*/
  right: 5px;
}

.img-container2 {
  border: 1px solid black;
  padding: 20px;
  width: 500px;
  position: relative;
  margin: 20px;
  height: 290px;
  overflow: hidden; /* viskas kas už dėžės pasislepia. paslėpti galima su pasition absolute is 005 destytojo papkes*/
}

.img-container2 .img12 {
  top: 20px;
  left: 20px;
  transition: all 0.5s;
}

.img-container2 .img22 {
  top: 20px;
  left: 540px;
  transition: all 0.5s;
}

.img-container2:hover .img12 {
  left: -520px;
}

.img-container2:hover .img22 {
  /* slideris is 005 destytojo papkės */
  left: 20px;
}

/* background-color: rgba(254, 254, 254, 0.3); */ /* blur efektai*/

filter: blur(1px);
-webkit-filter: blur(1px);

background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);

:root {
  --img2: 500px;
  --img: 300px;
} /*kintamieji*/

.img-container2:hover .img12 {
  left: calc(-1 * (var(--img) + 20px)); /*kintamojo naudijamas*/
}

.about .text h2::after {
  /*after arba before sukuria nematoma div. į content galima rašyti tik tekstą*/
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: pink;
  position: relative;
  bottom: 10px;
}

button[type="submit"] {
  background-color: chartreuse;
} /*kreipimasis i atributa */

.parent > p {
  color: red;
} /* tik tiesioginiai vaikai p. bet .parent p butu visi p parent elemente pamoka 007*/

h2 + h3 {
  /*pirmas elementas po h2*/
  color: orange;
}

h5 ~ span {
  /*paiima visus span brolius panašiai kaip +*/
  color: green;
}

ul li:last-child {
  /*paskutinis vaikas*/
  border: none;
}

h1 > * /*visi h1 elementai*/

ul li:nth-child(2n) {
  /*kas du elementus be n radaies tai bus kelintas arba odd ir even*/
  color: brown;
}

height: 100vh; /* vh yra ekrano matomos dalies skaicius meniu baras is 005 flex paskaitos*/

box-sizing: border-box; /*neprideda papildomu px*/

li.m {
  transform: translate(
    -100px,
    0px
  ); /*perkelia per x ir y ashy. gali buti reikia keisti position. arba ne */
}
background: linear-gradient(90deg); /*kas cia*/

.bin {
  width: 50px;
  height: 50px;
  animation-name: kuku; /*animacijos panaudojimas*/
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes kuku {
  0% {
    background-color: aqua;
    transform: rotate(0deg);
  }

  25% {
    background-color: gold;
    transform: rotate(180deg);
  }
}

html
<label for="or">go red</label> /* mobile menu baras 007 pamoka 005 folderis. input checked. paspaudus ant go red arba check veiksmas. galima pasidaryti menu mobile bar. tik label gali buti suristas su input */ 
<input id="or" type="checkbox" />
<div class="after">checked</div>


[type="checkbox"]:checked + div {
  color: red;
}

label {
  user-select: none; /*tam kad netyčia nepaspaustų*/
  cursor: pointer;
}

pointer-events: none; /* neleidžia paspausti su pele ant elemento pvz darant placeholder.*/

input {
  outline: none; /* istrinas inputo veiksma*/
}

input: focus; /*type text ant inputo paspaudo daromas veiksmas*/
