li {
  margin: 5px;
}

.sqr {
  border: 4px solid #5c80bc;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HW2container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ovl {
  border: 4px solid #e8c547;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  //   margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
