.square {
  width: 100px;
  height: 100px;
  background-color: rgb(35, 13, 56);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(35, 13, 56);
  border-radius: 50%;
}

.Sq-bin {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .Sq2 {
    width: 100px;
    height: 100px;
    background-color: grey;
  }
}
