ul {
  transition: all 1s;
  display: inline-block;
}

ul li {
  position: relative;
  display: inline-block;
  transition: all 1s;
  margin: 5px;
}

ul li:hover {
  cursor: pointer;
  /* left: 4px; */
  color: red;
  transform: translate(4px, 4px);
}
