* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.topLine {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM sans", sans-serif;
  background-color: #60267f;
  color: white;
}

.learnMore {
  text-decoration: underline;
}

.test {
  border: solid 1px black;
}

.menuContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
}

.topnavcontainer,
.topULcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topULcontainer {
  gap: 30px;
  margin-right: 30px;
}

.topULcontainer li {
  list-style: none;
}

.topULcontainer li a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #2b0236;
}

.logoImg {
  width: 150px;
}

.request {
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid#9A54BC;
  color: #9a54bc;
}

.request:hover {
  background-color: #9a54bc;
  color: white;
  cursor: pointer;
}

.mainContainersectionOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 100px;
  padding: 30px 20px;
  gap: 50px;
}

.topHead {
  font-size: 28px;
  text-align: center;
  color: #2b0236;
}

.topHeadbtn {
  background-color: #9a54bc;
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
  border: 2px solid #9a54bc;
}

.topHeadbtn:hover {
  background-color: transparent;
  color: #9a54bc;
  cursor: pointer;
}

.IconsContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin-top: 200px;
}

/*elipse*/

.ElipseContainer {
  margin-top: 250px;
}

.ElipseWithBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ElipseWithBtn img {
  position: absolute;
}

.smallElpise {
  top: -160px;
}

.rectangle {
  top: -150px;
}

.collab {
  top: -45px;
}

.ElipseBtn {
  position: absolute;
  bottom: -140px;
  border: none;
  padding: 5px 15px;
  border: 1.48px solid #9a54bc;
  background-color: white;
  color: #9a54bc;
  border-radius: 5px;
  font-weight: 600;
}

/*Iconos*/

.IconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 300px;
}

.IconContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.IconContainer img {
  width: 100px;
}

.IconContainer h2 {
  font-size: 36px;
}

.howHelpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 150px;
}

.paraPhoneContainer {
  display: flex;
  justify-content: space-between;
}

.videoPara {
  width: 60%;
  text-align: center;
}

.paraContainer {
  width: 50%;
}

.howhelpButton {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  gap: 5px;
  padding: 0 2px 0 2px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.72);
}

.howhelpButton button {
  width: 50%;
  padding: 6px 0 6px 0;
  border: none;
  background-color: transparent;
}

.howhelpButton button:hover {
  background-color: #60267f;
  border: #9a54bc 2px solid;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.allTextContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  height: 80%;
  margin-top: 10px;
}

.textbox {
  background-color: #f2f2f2;
  width: 70%;
  padding: 10px 50px;
  font-weight: 600px;
  font-size: 10px;
}

.phoneContainer img {
  width: 200px;
}

.phoneContainer {
  display: flex;
  width: 50%;
  justify-content: right;
}

/*vid 36min*/

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 250px;
  gap: 50px;
}

/*statybos lazybos*/

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 40px;
}

.projectboxContainer {
  display: flex;
  gap: 40px;
}

.Projectbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Projectbox img {
  width: 250px;
}

.Projectbox h3 {
  color: #60267f;
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
}

.Projectbox span {
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
}

/*card*/

.readytoStartContainer {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.readyToStartheader {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 24.76px;
  text-align: center;
}

.readyToStartSpan {
  font-size: 14px;
  color: #a79d9d;
}

.readyToStarMonthly {
  color: #a79d9d;
  font-size: 14px;
}

.readyToStartYearly {
  font-weight: 500;
  color: #2b0236;
  font-size: 14px;
}

.tenpercent {
  background-color: #ffe87a;
  font-size: 10px;
  padding: 2px 7px;
}

.readyToStartdiscountContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.BigCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.bigCard {
  border: 0.5px solid #aaaaaa;
  padding: 20px;
  width: 200px;
  height: 350px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 0.44px solid #aaaaaa;
  gap: 20px;
}

.bigCard span {
  font-weight: 700;
}

.bigCard h2 {
  font-size: 28px;
}

.bigCard button {
  padding: 10px 15px;
  border: none;
  border: solid 2px #2b0236;
  background-color: white;
  color: #2b0236;
  font-weight: 700;
  border-radius: 5px;
}

.bigCard ul li {
  list-style: none;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 0 0 5px;
}

.bigCard ul li::marker {
  content: "▶";
}

.bigCardThree {
  background-color: #56e6a5;
}

.bigCardThree p {
  font-size: 12px;
}

.reviewContainer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 120px;
}

.reviewContainer > img {
  width: 200px;
}

.reviewContainer p {
  width: 700px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.rewviewPcont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rewviewPcont::after {
  content: "\F138";
  font-family: bootstrap-icons;
  font-size: 48px;
}

.rewviewPcont::before {
  content: "\F12F";
  font-family: bootstrap-icons;
  font-size: 48px;
}

.rewviewPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.JoinsUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  gap: 50px;
  margin-bottom: 250px;
}

.JoinsUs h2 {
  font-size: 25px;
}

.JoinsUs p {
  text-align: center;
  width: 70%;
}

.JoinsUs button {
  border: none;
  border: 1.48px solid #9a54bc;
  background-color: #9a54bc;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
}

.JoinsUs button:hover {
  cursor: pointer;
  color: #9a54bc;
  background-color: #ffffff;
}

.picturesContainer {
  position: relative;
}

.picturesContainer span {
  color: #9a54bc;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  left: 368px;
  top: 8px;
}

.Vector {
  width: 900px;
  position: absolute;
  top: -50px;
  left: -400px;
}

.PosImg {
  position: absolute;
  width: 90px;
}

.ElipsFirst {
  left: -450px;
  top: -110px;
}

.ElipsSecond {
  left: -330px;
  top: 50px;
}

.ElipsThird {
  left: -180px;
  top: 30px;
}

.ElipsFourth {
  left: -60px;
  top: 100px;
}

.ElipsFifth {
  left: 90px;
  top: 110px;
}

.ElipsSixth {
  left: 250px;
  top: 90px;
}

.ElipsSeventh {
  left: 380px;
  top: 110px;
}

.ElipsEigth {
  left: 440px;
  top: 20px;
}

.QuestionsMapsCont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.Questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Questions h2 {
  margin-bottom: 20px;
  font-size: 26px;
}

.Map {
  margin-right: 100px;
  width: 600px;
}

.Questions .Mail,
.Questions span {
  font-size: 15px;
}

/* Kamiles */
.pirmalinija {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 200px;
}

.antralinija {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.ButtonsContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 200px;
  width: 100;
  background-color: #9a54bc;
  padding-top: 150px;
  padding-bottom: 150px;
}

.DownloadAppHeader1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  line-height: 39.21px;
  text-align: center;
}

.PurpleButton {
  padding: 10px 15px;
  border: none;
  border: 2px solid white;
  background-color: #9a54bc;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  gap: 80px;
}

.PurpleButton:hover {
  box-shadow: 0px 4.4019999504089355px 8.803999900817871px 0px #0000001a;
  border: 2px solid #ffffff;
}
.TryFreeDemoBtn1 {
  width: Fixed (112.25px) px;
  height: Fixed (32.57px) px;
  top: 3651.02px;
  left: 366.25px;
  color: #9a54bc;
  background-color: #ffffff;
}
.vendorAppBtn1 .SiteEngineerApp1 {
  width: Fixed (112.25px) px;
  height: Fixed (32.57px) px;
  top: 3651.02px;
  left: 366.25px;
  padding: 7.41px 0px 0px 0px;
  gap: 7.41px;
  border-radius: 2.96px 0px 0px 0px;
  border: 1.48px 0px 0px 0px;
  opacity: 0px;
}

/* Aivaras */

footer {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-side {
  width: 325px;
  justify-content: center;
  align-items: center;
}

.right-side {
  width: 75%;
  margin-left: 100px;
}

.right-side .contact-us {
  display: flex;
}

.sides {
  display: flex;
}

.footerH1 {
  height: 60px;
}

.footerName {
  color: #9a54bc;
}

.footer-image-container {
  display: flex;
  gap: 15px;
}

.follow-h5 {
  margin: 30px 0 15px 0;
  font-weight: bold;
}

.footer-img {
  width: 40px;
  height: 40px;
}

.list-container {
  display: flex;
}

.list-txt {
  color: #9a54bc;
  margin-top: 15px;
}

.list-name {
  font-weight: bold;
  font-size: 15px;
}

.contact-us {
  display: flex;
  gap: 35px;
  margin-top: 40px;
}

.contact-us span {
  font-weight: 600;
}

.contact-us a {
  text-decoration: none;
  color: #9a54bc;
}

ul {
  width: 180px;
}

.copyright {
  width: 100%;
  height: 40px;
  background-color: #60267f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.copyright p {
  margin: 0;
  font-weight: 300;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-content: center;
}
