* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.topLine {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM sans", sans-serif;
  background-color: #60267f;
  color: white;
}

.learnMore {
  text-decoration: underline;
}

.test {
  border: solid 1px black;
}

.menuContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
}

.topnavcontainer,
.topULcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topULcontainer {
  gap: 30px;
  margin-right: 30px;
}

.topULcontainer li {
  list-style: none;
}

.topULcontainer li a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #2b0236;
}

.logoImg {
  width: 150px;
}

.request {
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid#9A54BC;
  color: #9a54bc;
}

.request:hover {
  background-color: #9a54bc;
  color: white;
  cursor: pointer;
}

.mainContainersectionOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 100px;
  padding: 30px 20px;
  gap: 50px;
}

.topHead {
  font-size: 28px;
  text-align: center;
  color: #2b0236;
}

.topHeadbtn {
  background-color: #9a54bc;
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
  border: 2px solid #9a54bc;
}

.topHeadbtn:hover {
  background-color: transparent;
  color: #9a54bc;
  cursor: pointer;
}

.IconsContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin-top: 200px;
}

.IconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.IconContainer div {
  flex-direction: row;
}

.IconContainer h2 {
  font-size: 36px;
}

.howHelpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 150px;
}

.paraPhoneContainer {
  display: flex;
  justify-content: space-between;
}

.paraContainer {
  width: 50%;
}

.howhelpButton {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  gap: 5px;
  padding: 0 2px 0 2px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.72);
}

.howhelpButton button {
  width: 50%;
  padding: 6px 0 6px 0;
  border: none;
  background-color: transparent;
}

.howhelpButton button:hover {
  background-color: #60267f;
  border: #9a54bc 2px solid;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.allTextContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  height: 80%;
  margin-top: 10px;
}

.textbox {
  background-color: #f2f2f2;
  width: 70%;
  padding: 10px 50px;
  font-weight: 600px;
  font-size: 10px;
}

.phoneContainer img {
  width: 200px;
}

.phoneContainer {
  display: flex;
  width: 50%;
  justify-content: right;
}
