* {
  letter-spacing: 5px;
}

i {
  color: steelblue;
}

.big {
  font-size: 2em;
  color: greenyellow;
}

.big .small {
  font-size: 0.5em;
  color: crimson;
}

.big.small {
  font-size: 3.5em;
  color: lightcoral;
}

#big {
  color: blue;
}

#big .small {
  color: orange;
}

button {
  font-size: 1.5em;
  color: darkorchid;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

button[type="submit"] {
  background-color: chartreuse;
}

.parent > p {
  color: red;
}

h2 + h3 {
  color: orange;
}

h5 ~ span {
  color: green;
}

ul li {
  border-bottom: 1px solid green;
}

ul li:last-child {
  border: none;
}

ul li:nth-child(2n) {
  color: brown;
}

.after {
  font-size: 60px;
}

[type="checkbox"]:checked + div {
  color: red;
}

[type="checkbox"] {
  display: none;
}

label {
  user-select: none;
  cursor: pointer;
}

.sq {
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}

.bin {
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 50px;
  height: 50px;
  animation-name: kuku;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes kuku {
  0% {
    background-color: aqua;
    transform: rotate(0deg);
  }

  25% {
    background-color: gold;
    transform: rotate(180deg);
  }
}
