* {
  margin: 0;
  padding: 0;
  font-family: "Rokkitt", serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(198, 72, 14);
  min-height: 100vh;
}

main {
  width: 85%;
  height: 100%;
  background-color: bisque;
  min-height: 100vh;
}

button {
  border: none;
  background-color: rgba(14, 10, 52, 0.644);
  color: bisque;
  cursor: pointer;
}

.content-container {
  height: max-content;
}

.create {
  margin: 50px;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: ease-in 0.3s;
  font-size: 16px;
}

.create:hover {
  background-color: rgba(14, 10, 52);
  color: rgb(198, 72, 14);
  padding: 10px 20px;
}

.info-line {
  display: flex;
  font-weight: 700;
  margin-bottom: 50px;
  border: solid 3px rgba(14, 10, 52);
  div {
    border-right: solid 3px rgba(14, 10, 52);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sum {
    border: none;
  }
}

.number {
  width: 90px;
}

.name,
.surname {
  min-width: 250px;
  padding: 10px 0px;
}

.sum {
  min-width: 200px;
}

.client {
  margin-bottom: 20px;
  font-weight: 500;
  border: solid 3px rgba(14, 10, 52, 0.644);
  display: flex;
  div {
    border-right: solid 3px rgba(14, 10, 52, 0.644);
  }
  .sum {
    border-right: solid 3px rgba(14, 10, 52, 0.644);
  }
  .btnContainer {
    border-right: none;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkblue,
.orange,
.clientbtn {
  height: 40px;
  width: 100px;
  margin: 20px 5px;

  cursor: pointer;
  transition: ease-in 0.3s;
}

.darkblue:hover,
.add:hover {
  background-color: rgba(14, 10, 52);
  color: rgb(198, 72, 14);
}

.orange,
.remove {
  background-color: rgb(198, 72, 14, 0.644);
  color: bisque;
}

.orange:hover,
.remove:hover {
  background-color: rgb(198, 72, 14);
  color: rgba(14, 10, 52);
}

/*Modalas Create*/

.modal-create {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 10, 52, 0.644);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;
  box-sizing: border-box; */
}

.modal-content {
  border: solid 4px rgba(14, 10, 52);
  width: 800px;
  height: 400px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.NewAcc {
  margin-top: 40px;
}

.Modal-buttons {
  margin-top: 50px;
}

.form {
  width: 80%;
  margin-top: 20px;
}

.container-name {
  display: flex;
  align-items: center;
  margin-top: 30px;
  input {
    width: 40%;
    height: 30px;
    outline: none;
  }
}

.type-surname,
.type-name {
  width: 30%;
}

/* Modalas Delete */
.modal--delete {
  height: 100%;
  width: 100%;
  background-color: rgba(14, 10, 52, 0.644);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.card {
  border: solid 4px rgba(14, 10, 52);
  width: 700px;
  height: 200px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  h2 {
    margin-top: 50px;
  }
}

/* Modalas Edit */

.modal--edit {
  height: 100%;
  width: 100%;
  background-color: rgba(14, 10, 52, 0.644);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  h2 {
    margin-top: 30px;
  }
}
