h1 {
    text-transform: uppercase;
    color: #0b883b;
    font-family:fantasy;
    letter-spacing: 4px;
    border: solid;
    border-color: black;
}

.list {
    text-decoration: none;
    color: orange;
}

.list:hover {
    color: red;
}

ol {
    width: 300px;
}

li {
    color: grey;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    display: block;
    border: solid;
    border-color: black;
}

tbody {
    display:block;
}

tr {
    display:block;
    width: 100%;
    border: solid;
    color: red;
}

td {
    border: solid;
    border-color: black;
    background-color: aquamarine;
    width: 100%;
}

.testas {
    display: flex;
    flex-direction: row;
}
.testas2 {
    display: flex;
    flex-direction: row;
}

