h1 {
    text-transform: uppercase;
    color: #0b883b;
    font-family:fantasy;
    letter-spacing: 4px;
}

.list {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list:hover {
    color: red;
}

ol {
    width: 300px;
}

li {
    color: grey;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    display: block;
    
}

tbody {
    display:block;
}

tr {
    display:block;
    width: 100%;
    
}

td {
    margin:1px;
    background-color: aquamarine;
    width: 100%;
}

td:hover{
    cursor:pointer;
    background-color: aqua;
}

.testas {
    display: flex;
    flex-direction: row;
}
.testas2 {
    display: flex;
    flex-direction: row;
}

h2, p{
    font-family:fantasy;
    letter-spacing: 4px;
    font-weight: 100;
}


img{

    width: 40%;
}

.testas3 {
    width:100%;
    width: 300px;
}

/* kaip padaryti img norimo dydžio bet responsive. 
kuo per skaitumuo prie html? 
minamlus formatas formatas nuotraukos? kodėl neleidžia mažiau.
prie lakers.html nurodyti tie patys heigh skaičiai ne tie patys kas css, kodel?.
*/





.aprasymo_top {
    display: flex;

    justify-content: space-between;
}

.empty {
    background-color: white;
}

.empty:hover{
    background-color: white;
    cursor: auto;
}