.CatsCont {
  width: 80%;
  height: 400px;
  list-style: none;
  span {
    font-weight: 300;
    margin-right: 10px;
  }
  .nice {
    color: aqua;
  }
}

fieldset {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.Square {
  width: 100px;
  height: 100px;
  background-color: black;
}
